body {
  background: #89C4F4;
}

svg {
  display: block;
  margin: auto;
}

.map {
  /* fill: #8DB255; */
  /* stroke: black;
  stroke-width: 0.5px; */
}

.hexes {
  opacity: 0.7;
}

.hex {
  fill: #eec33d;
  stroke: #ea9d3e;
  stroke-width: 2px;
}